ul{
  font-size:24px !important;
  line-height:40px !important;
}
.reveal ul ul{
  list-style-type: circle;
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6{
  text-transform: none;
}
